@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');



* {
    box-sizing: border-box;
    font-family: bai jamjuree;
}


h1, h3, a {
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}

p {
    font-weight: 400;
    color: hsl(201, 11%, 66%);
}

body {
    padding: 0;
    margin: 0;
}

.buttons .ios, .mac{
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.page {
    text-align: center;
}

header {
    background-image: url(images/bg-header-desktop.png);
    background-size: cover;
    height: 300px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.download-zone {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 45%;
}

.download-zone h1, .download-zone-1 p {
    margin: 0;
    margin-bottom: 3%;
}

.download-zone h1 {
    margin-bottom: 4%;
}

.download-zone p {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 8%;
}

.download-zone .buttons {
    display: flex;
    gap: 10px;
    margin: auto;
}


.download-zone .buttons .ios {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0 3px 4px  hsl(171, 66%, 30%);
    transition: opacity 0.4s;
}
.download-zone .buttons .mac {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0 3px 4px hsl(233, 100%, 56%);
    transition: opacity 0.4s;
}

.download-zone .buttons .ios:hover, .mac:hover {
    animation: alternate;
    
    opacity: 0.8;
}

.zone-1 {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 45%;
}

.zone-1 h1 {
    margin-bottom: 3%;
}

.zone-1 p {
    margin-top: 0;
}

.zone-2 {
    display: flex;
}

.mac-img {
    width: 50%;
    padding: 0 20px;

}

.mac-img img {
    width: 100%;
}

.qic {
    display: flex;
    padding: 2% 8% 0 8%;
    flex-direction: column;
    text-align: left;
    width: 50%;
}

.q, .i, .c {
    line-height: 1.5;
}

.zone-3 {
    width: 50%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 8%;
}

.divices-apple img {
    width: 80%;
}

.zone-5 {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-top: 10%
}

.zone-5 .c, .p, .s {
    width: 30%;
}

.zone-5 .img {
    height: 40px;
    margin-bottom: 10%;
}
.zone-5 img {
    height: 100%;
}

.zone-5 h3 {
    height: 24px;
}

.zone-5 p {
    line-height: 2;
}

.sponsors {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 40px;
    margin: 15% auto;
    padding: 0 5px;
    justify-content: space-around;
    gap: 10px;
}

.sponsors img {
    height: 100%;
}

footer {
    margin-top: 10%;
    height: 110px;
    display: flex;
    background-color: hsl(201, 11%, 95%);
    align-items: center;
    justify-content: space-around;
}

footer .logo img {
    width: 40%;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.links a {
    text-decoration: none;
}

.links a:hover {
    color: hsl(171, 66%, 44%);
}

.social {
    display: flex;
    gap: 10px;
}

ion-icon {
 font-size: 25px;
}

ion-icon:hover {
    color: hsl(171, 66%, 44%);
}

@media screen and (max-width: 767px) {

    .download-zone{
        width: 80%;
    }

    .download-zone .buttons {
        flex-direction: column;
        width: 100%;
    }

    .zone-1 {
        margin-top: 50%;
        margin-bottom: 20%;
        width: 80%;
    }

    .zone-2 {
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 80%;
    }
    
    .mac-img {
        width: 100%;
        padding: 0;
    }
    
    .qic {
        display: flex;
        padding: 0;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    
    .q, .i, .c {
        line-height: 1.5;
    }

    .zone-3 {
        width: 80%;
        margin-top: 50%;
    }

    .zone-5 {
        flex-direction: column;
        align-items: center;
        margin-top: 30%;
        width: 80%;
    }
    
    .zone-5 .c, .p, .s {
        width: 100%;
        margin-bottom: 20%;
    }

    .sponsors {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        margin-top: 20%;
        margin-bottom: 50%;
        padding: 0;
        gap: 80px;
    }

    .sponsors img {
        margin: auto;
        width: 100px;
    }

    footer {
        margin-top: 50%;
        height: 400px;
        display: flex;
        flex-direction: column;
        background-color: hsl(201, 11%, 95%);
        align-items: center;
        justify-content: space-around;
    }
    
    footer .logo img {
        width: 40%;
    }
    
    .links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 10%;
    }

    .social {
        margin-bottom: 5%;
    }
    
}